<div class="alert-management">

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Message</th>
            <th>Type</th>
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alert of alerts">
            <td>{{ alert.id }}</td>
            <td>{{ alert.title }}</td>
            <td>{{ alert.message }}</td>
            <td>{{ alert.type }}</td>
            <td>{{ alert.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ alert.user.username}}</td>
            <td>
                <button (click)="deleteAlert(alert.id)">Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>