<div class="user-management">

    <!-- Ajout du champ de recherche -->
    <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Rechercher un utilisateur...">
    </div>

    <table>
        <thead>
        <tr>
            <th (click)="sort('id')">ID <span class="sort-icon">{{ getSortIcon('id') }}</span></th>
            <th (click)="sort('username')">Nom d'utilisateur <span class="sort-icon">{{ getSortIcon('username') }}</span></th>
            <th (click)="sort('email')">Email <span class="sort-icon">{{ getSortIcon('email') }}</span></th>
            <th (click)="sort('roles')">Rôles <span class="sort-icon">{{ getSortIcon('roles') }}</span></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of filteredUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
          <span *ngFor="let role of user.roles; let i = index">
            {{ role.name }}<span *ngIf="i < user.roles.length - 1">, </span>
          </span>
            </td>
            <td>
                <button class="edit-button" (click)="editUser(user)">Modifier</button>
                <button class="delete-button" (click)="deleteUser(user.id)">Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
